<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Group of group Suite" verbose="1">
	<listeners>
		<listener class-name="com.parasoft.parabank.listener.ExtentReporterNG" />
	</listeners>
	<test name="Guru99LoginPage">
		<parameter name="BrowserName" value="FireFox" />
		<classes>
			<class name="com.guru99.tests.Test99GuruLoginPage" />
		</classes>
	</test>
	<test name="smoke">
		<!--<parameter name="BrowserName" value="chrome,Windows 10,63" /> -->
		<parameter name="BrowserName" value="Chrome" /> 
		<classes>
			<class name="com.guru99.tests.Test99GuruLoginPage">
			</class>
		</classes>
	</test>
</suite>